@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  max-width: 1194px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.hidden,
.upload-file {
  display: none;
}

.image-uploader-section {
  padding: 104px 0 219px;
  background-image: url(images/spookify_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  color: #21262B;
  text-align: center;
  overflow: hidden;
}
.image-uploader-headline {
  margin-bottom: 72px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}
.drop-zone-container {
  padding: 21px;
  background-color: #21262B;
  color: #fff;
  border-radius: 25px;
  font-size: 14px;
  line-height: 19px;
}

.drop-zone {
  padding: 70px 21px;
  border: 2px dashed #477D77;
  border-radius: 13px;
}

.drop-zone-icon {
  background-image: url(images/haunted-mansion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #477D77;
  width: 56px;
  height: 56px;
  margin: 0 auto 13px;
  padding: 9px;
  border-radius: 4px;
  box-sizing: border-box;
}

.image-display {
  width: 187px;
  height: 187px;
  object-fit: contain;
}

a.image-display-remove {
  display: none;
  margin: 8px auto 0;
  color: #fff;
}

.drop-zone-headline {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.drop-zone-copy {
  margin-top: 13px;
}

.box__dragndrop {
  color: #477D77;
}

.bg-image {
  position: absolute;
}

.bg-image-top-right {
  top: -146px;
  right: -85px;
}

.bg-image-bottom-left {
  bottom: -236px;
  left: -78px;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  margin-top: 42px;
  padding: 16px 21px;
  background-color: #477D77;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  transition: background-color .25s;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: -8px;
}

.results-btn {
  margin: 8px;
}

.btn[disabled] {
  background-color: #9A9A9A;
  cursor: auto;
}

.drop-zone-container.ready .drop-zone {
  padding: 44px 21px;
}
.drop-zone-container.ready .drop-zone-copy {
  display: none;
}

.image-uploader-btn:after {
  content: attr(off-text);
}
.drop-zone-container.ready + .image-uploader-btn:after {
  content: attr(on-text);
}

.image-uploader-btn.working:after {
  content: attr(working-text) !important;
}

.drop-zone-container.ready .image-display-remove {
  display: block;
}

.results-section {
  margin-top: 72px;
}

.results-section-headline {
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #21262B;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -8px -8px 54px;
}

.result-card {
  max-width: 570px;
  width: calc(50% - 8px * 2);
  margin: 8px;
  padding: 40px 44px 52px;
  background-color: #21262B;
  color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
}


.result-card-title {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #fff;
}

.result-card-image {
  height: 501px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1250px) {
  .result-card-image {
    height: 30vw;
    width: 30vw;
  }
}
@media screen and (max-width: 900px) {
  .result-card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .image-uploader-headline {
    font-size: 33px;
    line-height: 38px;
  }

  .drop-zone-headline {
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width: 480px) {
  .image-uploader-headline {
    font-size: 28px;
    line-height: 33px;
  }
}